# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/
.venv/
.ENV/

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Local development settings
*.env
*.env.*
.envrc

# Logs and databases
*.log
*.sqlite3
*.db

# Jupyter notebooks
.ipynb_checkpoints/
# *.ipynb

# PyTorch checkpoints
*.pt

# PyTorch Lightning logs
lightning_logs/

# Other
*.pyc
.DS_Store
data/08_reporting/**/random_grid_search/**/*
data/01_raw/trees-in-satellite-imagery/**/*.jpg
data/01_raw/trees-in-satellite-imagery.zip
data/01_raw/volume-de-represas-de-so-paulo/**/*.tif
data/01_raw/volume-de-represas-de-so-paulo.zip
data/01_raw/next-day-wildfire-spread/*
data/01_raw/DL_FIRE_J1V-C2_401899/*
data/08_reporting/wildfire_spread/*
data/01_raw/inpe_queimadas/**/*
